# EBB36:https://github.com/bigtreetech/EBB/blob/master/EBB%20CAN%20V1.1%20(STM32G0B1)/sample-bigtreetech-ebb-canbus-v1.2.cfg
#   Pinout: https://github.com/bigtreetech/EBB/blob/master/EBB%20CAN%20V1.1%20(STM32G0B1)/EBB36%20CAN%20V1.1/Hardware/EBB36%20CAN%20V1.1%26V1.2-PIN.png
# Orbiter 2.0: https://www.orbiterprojects.com/orbiter-v2-0/

# Run current calc: https://docs.zerog.one/universal/klippercalculator

# Updating:
#   sudo service klipper stop
#   cd ~/klipper
#   git pull
#
#   make clean; make KCONFIG_CONFIG=~/printer_data/config/klipper_flash/spider.config
#   python ~/katapult/scripts/flashtool.py -i can0 -u 1e2d42c9c1d5 --request-bootloader
#   python ~/katapult/scripts/flashtool.py -f ~/klipper/out/klipper.bin -d /dev/serial/by-id/usb-katapult_stm32f446xx_3C0032000950315239323320-if00
#
#   make clean; make KCONFIG_CONFIG=~/printer_data/config/klipper_flash/ebb36.config
#   python ~/katapult/scripts/flashtool.py -i can0 -u 1dfa07ef78fb -f ~/klipper/out/klipper.bin
#
#   sudo service klipper start

[include mainsail.cfg]
[include macros.cfg]
[include timelapse.cfg]
[include OrbiterSensor.cfg]
[include test_speed.cfg]
[include tmc_autotune.cfg]
[include KAMP.cfg]
[shaketune]

# Spider
[mcu]
canbus_uuid: 1e2d42c9c1d5

[mcu EBB36]
canbus_uuid: 1dfa07ef78fb

[tmc5160 stepper_x]
# LDO-42STH48-2804AC-R, 2.8A peak, 1.58 RMS
# Soft SPI
spi_software_mosi_pin: PE14
spi_software_miso_pin: PE13
spi_software_sclk_pin: PE12
cs_pin: PE7
interpolate: True
run_current: 1.58
sense_resistor: 0.075
stealthchop_threshold: 0

# The stepper_x section is used to describe the X axis as well as the
# stepper controlling the X+Y movement.
[stepper_x]
step_pin: PE11
dir_pin: PE10
enable_pin: !PE9
microsteps: 16
rotation_distance: 40
endstop_pin: EBB36:PB6
position_endstop: 384
position_min: 0
position_max: 384
homing_speed: 90

[tmc5160 stepper_y]
# LDO-42STH48-2804AC-R, 2.8A peak, 1.58 RMS
# Soft SPI
spi_software_mosi_pin: PE14
spi_software_miso_pin: PE13
spi_software_sclk_pin: PE12
cs_pin: PE15
interpolate: True
run_current: 1.58
sense_resistor: 0.075
stealthchop_threshold: 0

# The stepper_y section is used to describe the Y axis as well as the
# stepper controlling the X-Y movement.
[stepper_y]
step_pin: PD8
dir_pin: PB12
enable_pin: !PD9
microsteps: 16
rotation_distance: 40
endstop_pin: ^PB13
position_endstop: 380
position_min: 0
position_max: 380
homing_speed: 90

[tmc2209 stepper_z]
# Creality 42-34, 0.8A peak?
uart_pin: PD7
run_current: 0.45
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 999999

[stepper_z]
step_pin: PD5
dir_pin: PD6
enable_pin: !PD4
microsteps: 16
rotation_distance: 4
position_min: -15 # for probe/mesh
position_max: 400
homing_speed: 10.0
endstop_pin: probe:z_virtual_endstop # use when safe home w/probe

[tmc2209 stepper_z1]
uart_pin: PC14
run_current: 0.45
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 999999

[stepper_z1]
step_pin: PE6
dir_pin: PC13
enable_pin: !PE5
microsteps: 16
rotation_distance: 4

[tmc2209 extruder]
# https://www.orbiterprojects.com/orbiter-v2-0/
# LDO-36STH20-1004AHG
uart_pin: EBB36:PA15
interpolate: true
run_current: 0.85
sense_resistor: 0.11
stealthchop_threshold: 0
driver_TBL: 0
driver_HEND: 6
driver_HSTRT: 7
driver_TOFF: 4

[extruder]
step_pin: EBB36:PD0
dir_pin: EBB36:PD1
enable_pin: !EBB36:PD2

# https://www.orbiterprojects.com/orbiter-v2-0/
full_steps_per_rotation: 200
rotation_distance: 4.637
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.750

heater_pin: EBB36:PB13
sensor_type: MAX31865
sensor_pin: EBB36:PA4
spi_bus: spi1
rtd_nominal_r: 1000
rtd_reference_r: 4300
rtd_num_of_wires: 2
min_extrude_temp: 180
min_temp: 0
max_temp: 350
max_extrude_only_distance: 100
max_extrude_cross_section: 5
pressure_advance: 0.035 # base w/PLA
control: pid_v
# @215c
# Ziegler-Nichols
pid_kp: 18.404
pid_ki: 1.547
pid_kd: 54.750

[fan]
# Part cooling fan
pin: EBB36:PA0

[heater_fan hotend_fan]
pin: EBB36:PA1

[controller_fan spider]
pin: PA13
idle_timeout: 90

[heater_bed]
# heater_pin: PB4 # actual bed port
heater_pin: PB15 # HEAT0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
min_temp: 0
max_temp: 115
control: pid_v

# w/spider + fysetc mosfet board @65c
# use pid_params sheet to convert to Cohen-Coon
# Cohen-Coon: works well, no overshoot and stable
# Ziegler-Nichols: overshoots and stays over
# Get constants output below from klippy.log:
#   Ziegler-Nichols constants: Ku=0.267117 Tu=201.200000
#   Cohen-Coon constants: Km=-3.882872 Theta=8.600000 Tau=-8.812910
pid_Kp: 70.895264
pid_Ki: 2.270299
pid_Kd: 191.712692


[dockable_probe]
# https://github.com/DangerKlippers/danger-klipper/blob/master/docs/Dockable_Probe.md
pin: EBB36:PB8
check_open_attach: True
x_offset: -1.5
y_offset: 37
approach_position: 190, 325
dock_position: 190, 375
detach_position: 235, 375
travel_speed: 180
attach_speed: 90
detach_speed: 90
restore_toolhead: False
samples: 2
sample_retract_dist: 2
samples_tolerance: 0.05  # default 0.100
samples_tolerance_retries: 5
speed: 10
z_hop: 10

[safe_z_home]
home_xy_position: 188.5,150
#home_xy_position: 305,360 # For print recovery, will need updated each recovery
speed: 350
z_hop: 10
z_hop_speed: 30

# https://www.klipper3d.org/Config_Reference.html#z_tilt
[z_tilt]
z_positions:
  0,150
  377,150
points:
  10,150
  367,150
horizontal_move_z: 10
speed: 350
retry_tolerance: 0.02
retries: 15

[bed_mesh]
# https://www.klipper3d.org/Bed_Mesh.html
speed: 350
horizontal_move_z: 10
mesh_min: 30,30
mesh_max: 347,340
probe_count: 13,13
algorithm: bicubic

[adxl345]
cs_pin: EBB36:PB12
spi_software_sclk_pin: EBB36:PB10
spi_software_mosi_pin: EBB36:PB11
spi_software_miso_pin: EBB36:PB2
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points: 185, 188.5, 20

[input_shaper]
# https://www.klipper3d.org/Resonance_Compensation.html
# Old (now using Klippain): Parameters in saved config via SHAPER_CALIBRATE command
shaper_type_x = mzv
shaper_freq_x = 59
shaper_type_y = mzv
shaper_freq_y = 37

[idle_timeout]
timeout: 1200  # default: 600

[gcode_arcs]
resolution: 0.1

[printer]
kinematics: corexy
max_z_velocity: 15
max_z_accel: 100

# For testing/validation only
# max_velocity: 50
# max_accel: 1000

# Normal settings -- https://ellis3dp.com/Print-Tuning-Guide/articles/determining_max_speeds_accels.html
max_velocity: 350
max_accel: 16000

# square_corner_velocity set to 5. See: https://www.klipper3d.org/Resonance_Compensation.html#ringing-frequency
# It is not advised to increase it when using input shaper because it can cause more smoothing in parts - it is
# better to use higher acceleration value instead.
square_corner_velocity: 5

[filament_switch_sensor filament_sensor]
switch_pin: EBB36:PB3
# gcodes are defined in OrbiterSensor.cfg
runout_gcode: runnout_init
insert_gcode: filament_load_init

#[exclude_object]
# Kalico enables this by default.
# See also: moonraker.cfg
# https://www.klipper3d.org/Exclude_Object.html

[temperature_sensor RPi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor Spider]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 0
max_temp: 100

[temperature_sensor EBB36]
sensor_type: temperature_mcu
sensor_mcu: EBB36
min_temp: 0
max_temp: 100

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [dockable_probe]
#*# z_offset = 8.644
