# EBB:https://github.com/bigtreetech/EBB/blob/master/EBB%20CAN%20V1.1%20(STM32G0B1)/sample-bigtreetech-ebb-canbus-v1.2.cfg
#   Pinout: https://github.com/bigtreetech/EBB/blob/master/EBB%20CAN%20V1.1%20(STM32G0B1)/EBB%20CAN%20V1.1/Hardware/EBB%20CAN%20V1.1%26V1.2-PIN.png
# Orbiter 2.0: https://www.orbiterprojects.com/orbiter-v2-0/

# Run current calc: https://docs.zerog.one/universal/klippercalculator

# Updating:
#   sudo service klipper stop
#   cd ~/klipper
#   git pull
#
#   make clean; make KCONFIG_CONFIG=~/printer_data/config/klipper_flash/spider.config
#   python ~/katapult/scripts/flashtool.py -i can0 -u 1e2d42c9c1d5 --request-bootloader
#   python ~/katapult/scripts/flashtool.py -f ~/klipper/out/klipper.bin -d /dev/serial/by-id/usb-katapult_stm32f446xx_3C0032000950315239323320-if00
#
#   make clean; make KCONFIG_CONFIG=~/printer_data/config/klipper_flash/ebb36.config
#   python ~/katapult/scripts/flashtool.py -i can0 -u 1dfa07ef78fb -f ~/klipper/out/klipper.bin
#
#   sudo service klipper start

[include mainsail.cfg]

[include macros.cfg]
[include macros-spoolman.cfg]
[include macros-mainsail-customize.cfg]
[include timelapse.cfg]
[include OrbiterSensor.cfg]
[include test_speed.cfg]
[include tmc_autotune.cfg]
[include KAMP.cfg]
[shaketune]

# Spider
[mcu]
canbus_uuid: 1e2d42c9c1d5

[mcu EBB]
canbus_uuid: 1dfa07ef78fb

[controller_fan TMC5160s]
pin: PB2
stepper: stepper_x,stepper_y
heater:
idle_timeout: 90

[controller_fan TMC2209s]
pin: PA14
stepper: stepper_z,stepper_z1,stepper_z2
heater:
idle_timeout: 90

[tmc5160 stepper_x]
# LDO-42STH48-2804AC-R, 2.8A peak, 1.58 RMS
# Soft SPI
spi_software_mosi_pin: PE14
spi_software_miso_pin: PE13
spi_software_sclk_pin: PE12
cs_pin: PE7
interpolate: True
run_current: 1.58
sense_resistor: 0.075
stealthchop_threshold: 0

# The stepper_x section is used to describe the X axis as well as the
# stepper controlling the X+Y movement.
[stepper_x]
step_pin: PE11
dir_pin: PE10
enable_pin: !PE9
microsteps: 16
rotation_distance: 40
endstop_pin: EBB:PB6
position_endstop: 380
position_min: 0
position_max: 384
homing_speed: 60

[tmc5160 stepper_y]
# LDO-42STH48-2804AC-R, 2.8A peak, 1.58 RMS
# Soft SPI
spi_software_mosi_pin: PE14
spi_software_miso_pin: PE13
spi_software_sclk_pin: PE12
cs_pin: PE15
interpolate: True
run_current: 1.58
sense_resistor: 0.075
stealthchop_threshold: 0

# The stepper_y section is used to describe the Y axis as well as the
# stepper controlling the X-Y movement.
[stepper_y]
step_pin: PD8
dir_pin: PB12
enable_pin: !PD9
microsteps: 16
rotation_distance: 40
endstop_pin: ^PB13
position_endstop: 380
position_min: 0
position_max: 380
homing_speed: 60

[tmc2209 stepper_z]
# omc-17hs15-1504s, 1.5A peak
uart_pin: PD7
run_current: 0.85
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 999999

[stepper_z]
step_pin: PD5
dir_pin: PD6
enable_pin: !PD4
microsteps: 16
rotation_distance: 2
position_min: -15 # for probe/mesh
position_max: 400
homing_speed: 4
endstop_pin: probe:z_virtual_endstop # use when safe home w/probe

[tmc2209 stepper_z1]
uart_pin: PC14
run_current: 0.85
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 999999

[stepper_z1]
step_pin: PE6
dir_pin: PC13
enable_pin: !PE5
microsteps: 16
rotation_distance: 2

[tmc2209 stepper_z2]
uart_pin: PC15
run_current: 0.85
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 999999

[stepper_z2]
step_pin: PE2
dir_pin: PE4
enable_pin: !PE3
microsteps: 16
rotation_distance: 2

[tmc2209 extruder]
# https://www.orbiterprojects.com/orbiter-v2-0/
# LDO-36STH20-1004AHG
uart_pin: EBB:PA15
interpolate: true
run_current: 0.85
sense_resistor: 0.11
stealthchop_threshold: 0
driver_TBL: 0
driver_HEND: 6
driver_HSTRT: 7
driver_TOFF: 4

[extruder]
step_pin: EBB:PD0
dir_pin: EBB:PD1
enable_pin: !EBB:PD2

# https://www.orbiterprojects.com/orbiter-v2-0/
full_steps_per_rotation: 200
rotation_distance: 4.637
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.750

heater_pin: EBB:PB13
sensor_type: MAX31865
sensor_pin: EBB:PA4
spi_bus: spi1
rtd_nominal_r: 1000
rtd_reference_r: 4300
rtd_num_of_wires: 2
min_extrude_temp: 180
min_temp: 0
max_temp: 350
max_extrude_only_distance: 100
max_extrude_cross_section: 5
pressure_advance: 0.05 # base w/PLA
control: pid_v
# @215c
# Ziegler-Nichols
pid_kp: 18.404
pid_ki: 1.547
pid_kd: 54.750

[fan]
# Part cooling fan
pin: EBB:PA0

[heater_fan hotend_fan]
pin: EBB:PA1

[heater_bed]
heater_pin: PB15 # HEAT0
sensor_type: Generic 3950
sensor_pin: PC0
min_temp: 0
max_temp: 115
control: pid_v

#Ziegler-Nichols constants: Ku=0.176810 Tu=79.933333
#Cohen-Coon constants: Km=-5.811336 Theta=2.950000 Tau=-3.004037
#Autotune: final: Kp=27.051903 Ki=0.676862 Kd=270.293602
#PID parameters for 65.00°C: pid_Kp=27.052 pid_Ki=0.677 pid_Kd=270.294
#Heater: heater_bed
#Tolerance: 0.1000
#Profile: default
#The SAVE_CONFIG command will update the printer config file
#with these parameters and restart the printer.
#save_config: set [heater_bed] pid_version = 1
#save_config: set [heater_bed] pid_target = 65.00
#save_config: set [heater_bed] pid_tolerance = 0.1000
#save_config: set [heater_bed] control = pid_v
#save_config: set [heater_bed] pid_kp = 27.052
#save_config: set [heater_bed] pid_ki = 0.677
#save_config: set [heater_bed] pid_kd = 270.294
# Cohen-Coon:
pid_Kp: 48.608099
pid_Ki: 3.246438
pid_Kd: 63.476878

[dockable_probe]
# https://docs.kalico.gg/Dockable_Probe.html
# https://docs.kalico.gg/Probe_Calibrate.html#repeatability-check
pin: EBB:PB8
check_open_attach: True
x_offset: -1.5
y_offset: 37
approach_position: 184, 325
dock_position: 184, 375
detach_position: 235, 375
travel_speed: 400
attach_speed: 100
detach_speed: 100
restore_toolhead: False
samples: 2
sample_retract_dist: 3
samples_tolerance: 0.05  # default 0.100
samples_tolerance_retries: 5
speed: 4
z_hop: 6

[safe_z_home]
home_xy_position: 188.5,150
#home_xy_position: 305,360 # For print recovery, will need updated each recovery
speed: 350
z_hop: 10
z_hop_speed: 5

# https://www.klipper3d.org/Config_Reference.html#z_tilt
[z_tilt]
# modified from pinned #hydra_chat
z_positions:
  11.5, 8 #stepper_z Mini Tank
  361.5, 8 #stepper_z1 Mini Tank
  187.5, 362 #stepper_z2 Mini Tank
points:
  330,290 #probe location Right Rear
  40,290  #probe location Left Rear
  40,15   #probe location Left Front
  330,15  #probe location Right Front
speed: 400
horizontal_move_z: 15
adaptive_horizontal_move_z: True
retries: 5
retry_tolerance: 0.150

[bed_mesh]
# https://docs.kalico.gg/Bed_Mesh.html
# https://docs.kalico.gg/Bed_Mesh.html?h=adapti#adaptive-meshes
speed: 400
horizontal_move_z: 10
mesh_min: 30,40
mesh_max: 350,340
probe_count: 13,13
algorithm: bicubic

[adxl345]
cs_pin: EBB:PB12
spi_software_sclk_pin: EBB:PB10
spi_software_mosi_pin: EBB:PB11
spi_software_miso_pin: EBB:PB2
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points: 185, 188.5, 20

[input_shaper]
# https://github.com/Frix-x/klippain-shaketune
# 1.0% vibrations, 0.062 smoothing, and 9630 accel
shaper_type_x = mzv
shaper_freq_x = 57.4
damping_ratio_x = 0.049
# 0.3% vibrations, 0.153 smoothing, and 3930 accel
shaper_type_y = mzv
shaper_freq_y = 36.6
damping_ratio_y = 0.073

[idle_timeout]
timeout: 1200  # default: 600

[gcode_arcs]
resolution: 0.1

[printer]
kinematics: corexy
max_z_velocity: 4
max_z_accel: 100

# For testing/validation only
# max_velocity: 50
# max_accel: 1000

# Normal settings -- https://ellis3dp.com/Print-Tuning-Guide/articles/determining_max_speeds_accels.html
max_velocity: 400
max_accel: 16000

# square_corner_velocity set to 5. See: https://www.klipper3d.org/Resonance_Compensation.html#ringing-frequency
# It is not advised to increase it when using input shaper because it can cause more smoothing in parts - it is
# better to use higher acceleration value instead.
square_corner_velocity: 5

[filament_switch_sensor filament_sensor]
switch_pin: EBB:PB3
# gcodes are defined in OrbiterSensor.cfg
runout_gcode: runnout_init
insert_gcode: filament_load_init

#[exclude_object]
# Kalico enables this by default.
# See also: moonraker.cfg
# https://www.klipper3d.org/Exclude_Object.html

[temperature_sensor RPi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor Spider]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 0
max_temp: 100

[temperature_sensor EBB]
sensor_type: temperature_mcu
sensor_mcu: EBB
min_temp: 0
max_temp: 100

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [dockable_probe]
#*# z_offset = 8.669
#*#
#*# [bed_mesh full_bed]
#*# version = 1
#*# points =
#*# 	-0.160313, -0.108125, -0.069375, -0.055938, -0.050313, -0.051563, -0.067500, -0.065000, -0.102813, -0.138438, -0.191250, -0.263438, -0.333438
#*# 	-0.126250, -0.094375, -0.060000, -0.036875, -0.019688, -0.028750, -0.049688, -0.062500, -0.067188, -0.118125, -0.145938, -0.212500, -0.298125
#*# 	-0.119063, -0.102188, -0.055938, -0.021875, -0.008125, -0.018125, -0.005625, -0.032188, -0.074375, -0.086250, -0.125000, -0.172500, -0.257500
#*# 	-0.101875, -0.061875, -0.037188, 0.008125, 0.006562, 0.007500, 0.001562, -0.031875, -0.023750, -0.054063, -0.107500, -0.165000, -0.205938
#*# 	-0.103125, -0.045625, -0.007500, 0.007812, 0.017812, 0.020937, 0.023437, 0.004375, -0.020938, -0.028438, -0.081250, -0.129688, -0.191250
#*# 	-0.085938, -0.031250, 0.023750, 0.033437, 0.037187, 0.055625, 0.059062, 0.027187, 0.000312, -0.029375, -0.057813, -0.114063, -0.144688
#*# 	-0.090313, -0.033750, 0.009062, 0.043750, 0.073437, 0.095312, 0.067812, 0.045625, 0.038437, -0.003438, -0.030313, -0.054688, -0.098438
#*# 	-0.082813, -0.029688, 0.017812, 0.032500, 0.062187, 0.080000, 0.062812, 0.065625, 0.038750, 0.022500, -0.037188, -0.051875, -0.087188
#*# 	-0.083125, -0.040313, 0.009375, 0.045937, 0.069687, 0.071250, 0.075312, 0.086250, 0.045625, 0.018437, -0.034688, -0.070313, -0.105000
#*# 	-0.151875, -0.095625, -0.038125, -0.001250, 0.012812, 0.044687, 0.030937, 0.049687, 0.008437, -0.009063, -0.044063, -0.071563, -0.103125
#*# 	-0.192813, -0.131875, -0.068750, -0.049375, -0.018438, 0.006875, 0.005625, 0.003125, -0.025625, -0.034688, -0.060313, -0.083750, -0.116875
#*# 	-0.220313, -0.197188, -0.133750, -0.099688, -0.067500, -0.051250, -0.027813, -0.043438, -0.041250, -0.079688, -0.098438, -0.124063, -0.135000
#*# 	-0.259375, -0.219688, -0.165000, -0.125313, -0.096875, -0.063750, -0.056875, -0.055000, -0.051563, -0.080625, -0.094688, -0.115625, -0.136875
#*# x_count = 13
#*# y_count = 13
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 349.93
#*# min_y = 40.0
#*# max_y = 340.0
